[submodule "key-value-store"]
	path = key-value-store
	url = https://github.com/PepeRulo/key-value-store
[submodule "map-reduce"]
	path = map-reduce
	url = https://github.com/PepeRulo/map-reduce
[submodule "raft"]
	path = raft
	url = https://github.com/PepeRulo/raft
